html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC";
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  margin-bottom: 30px;
  z-index: 999;
}
.navbar .navbar_img {
  height: 40px;
  cursor: pointer;
  z-index: 10;
}

@media all and (max-width: 768px) {
  .navbar {
    padding: 16px 0;
    margin-bottom: 0;
    border-bottom: 2px solid #FFD153;
  }
  .navbar .navbar_img {
    height: 24px;
  }
}
.top {
  height: 71px;
  width: 71px;
  position: fixed;
  color: white;
  font-size: 18px;
  background: #56C4C5;
  background-size: 71px;
  border-radius: 50%;
  bottom: 57px;
  right: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  cursor: pointer;
}
.top:hover {
  background: #89F3F5;
}

@media all and (max-width: 768px) {
  .top {
    bottom: 14px;
    right: 14px;
  }
}
.gray_dot {
  width: 10px;
  height: 10px;
  background: #DDDDDD 0% 0% no-repeat padding-box;
  border-radius: 50%;
}

.yellow_dot {
  width: 16px;
  height: 10px;
  background: #FFD153 0% 0% no-repeat padding-box;
  border-radius: 50px;
}

.circle_button_sm {
  width: 128px;
  height: 40px;
  border-radius: 22px;
  cursor: pointer;
}

.circle_button_normal {
  width: 136px;
  height: 49px;
  border-radius: 27px;
  font-size: 18px;
  cursor: pointer;
}

.circle_button_normal2 {
  width: 130px;
  height: 50px;
  border-radius: 27px;
  font-size: 18px;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .circle_button_normal2 {
    width: 92px;
    height: 40px;
    font-size: 16px;
  }
}
.red_button {
  color: white;
  background: #FF5D50;
  border: 1px solid #FF5D50;
}
.red_button:hover {
  background: #FA8072;
  border: 1px solid #FA8072;
}

.white_green_button {
  color: #56C4C5;
  background: white;
  border: 1px solid #56C4C5;
}
.white_green_button:hover {
  color: #89F3F5;
  border: 1px solid #89F3F5;
}

.green_button {
  color: white;
  background: #56C4C5;
  border: 1px solid #56C4C5;
}
.green_button:hover {
  background: #89F3F5;
  border: 1px solid #89F3F5;
}

.green {
  color: #56C4C5;
}

.bold {
  font-weight: 900;
}

.icon_plus {
  background-image: url("../images/icon_plus.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.icon_minus {
  background-image: url("../images/icon_minus.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.wrap {
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
}
.wrap.wrap_home {
  background-image: url("../images/bg_home.svg"), url("../images/ball02.svg");
  background-repeat: no-repeat;
  background-position: top right, 110% 50%;
}

@media all and (max-width: 1085px) {
  .wrap {
    padding: 16px 20px 0;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .wrap.wrap_home {
    background: url("../images/ball02.svg");
    background-repeat: no-repeat;
    background-position: calc(100vw - 88px) 50%;
    background-size: 135px;
  }
}
.header_index {
  width: 100%;
  position: relative;
}
.header_index .header_back {
  width: 141px;
  height: 360px;
  position: absolute;
  bottom: calc(59px - 360px);
  left: 0;
  background-image: url("../images/ball01.svg");
  background-size: 360px;
  background-position: right;
}

@media all and (max-width: 1085px) {
  .header_index .header_back {
    width: 49px;
    height: 126px;
    bottom: -126px;
    background-size: 126px;
  }
}
.header {
  max-width: 1085px;
  margin: 0 auto;
}
.header .banner {
  margin-bottom: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .banner .banner_content {
  height: 534px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .banner .banner_content .banner_content_title {
  font-weight: 600;
  color: #56C4C5;
  font-size: 18px;
}
.header .banner .banner_content .banner_content_main {
  font-weight: 900;
  font-size: 48px;
  color: #221E1F;
}
.header .banner .banner_content .banner_content_other {
  font-size: 20px;
  color: #221E1F;
}
.header .banner .banner_img {
  width: 532px;
}

@media all and (max-width: 1085px) {
  .header {
    margin-bottom: 60px;
  }
  .header .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .banner .banner_content {
    height: 305px;
    width: 304px;
  }
  .header .banner .banner_content .banner_content_title {
    font-size: 16px;
  }
  .header .banner .banner_content .banner_content_main {
    font-size: 32px;
  }
  .header .banner .banner_content .banner_content_other {
    font-size: 16px;
  }
  .header .banner .banner_img {
    width: 304px;
    background-image: url("../images/bg_home_sm.svg");
    background-repeat: no-repeat;
    background-size: 304px 305px;
    background-position: bottom right;
  }
}
@media all and (max-width: 768px) {
  .header .banner {
    width: 304px;
    margin: 0 auto;
  }
  .header .banner div {
    margin: 0 auto;
  }
  .header .banner .banner_content {
    height: 252px;
    width: 304px;
  }
  .header .banner .banner_content div {
    margin: 0 auto;
  }
  .header .banner .banner_img {
    padding: 20px;
    width: 100%;
  }
}
.content {
  width: 100%;
  margin: 0 auto;
}
.content .community {
  max-width: 1085px;
  margin: 0 auto;
}
.content .community .community_title {
  font-size: 32px;
  text-align: center;
  font-weight: 900;
}
.content .community .community_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 48px;
}
.content .community .community_list .community_item {
  width: 244px;
}
.content .community .community_list .community_item .community_item_img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}
.content .community .community_list .community_item .community_item_img img {
  width: 100%;
  height: 100%;
}
.content .community .community_list .community_item .community_item_title {
  font-size: 24px;
  line-height: 35px;
}
.content .community .community_list .community_item .community_item_content {
  color: #747474;
}
.content .community .community_list .community_item p {
  margin-top: 24px;
  text-align: center;
}
.content .role {
  position: relative;
  max-width: 1088px;
  margin: 0 auto;
  margin-top: 100px;
}
.content .role .role_title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}
.content .role .role_content {
  text-align: center;
  font-size: 20px;
  margin-top: 16px;
}
.content .role .role_list {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
}
.content .role .role_list .role_item {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  background-color: white;
  padding-left: 16px;
  width: calc(260px+16px);
}
.content .role .role_list .role_item img {
  border-radius: 12px 12px 0 0;
  width: 260px;
  height: 260px;
}
.content .role .role_list .role_item .role_item_title {
  text-align: center;
  font-size: 16px;
  color: #56C4C5;
  margin-top: 16px;
}
.content .role .role_list .role_item .role_item_content {
  text-align: center;
  margin: 16px 16px 24px;
}
.content .feature {
  max-width: 1039px;
  margin: 0 auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .feature .feature_list {
  width: 507px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .feature .feature_list .feature_item {
  width: 230px;
  height: 280px;
  padding: 32px;
  margin-bottom: 28px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
}
.content .feature .feature_list .feature_item .feature_img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
}
.content .feature .feature_list .feature_item .feature_img img {
  margin-top: calc((86px - 52px) / 2);
  margin-left: calc((86px - 52px) / 2);
  width: 52px;
  height: 52px;
}
.content .feature .feature_list .feature_item .feature_item_title {
  font-size: 18px;
  font-weight: 900;
  margin-top: 24px;
}
.content .feature .feature_list .feature_item .feature_item_content {
  margin-top: 16px;
}
.content .feature .feature_main {
  width: calc(1039px - 507px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .feature .feature_main .feature_title {
  font-size: 32px;
  font-weight: 900;
}
.content .feature .feature_main .feature_content {
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
}
.content .feature .feature_main .feature_button {
  margin-top: 24px;
}
.content .comment {
  max-width: 1088px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}
.content .comment .comment_back {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 46px;
  left: -89px;
  background-image: url("../images/ball03.svg");
  background-size: 150px;
  z-index: -999;
}
.content .comment .comment_title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}
.content .comment .comment_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 104px;
}
.content .comment .comment_list .comment_item {
  width: 352px;
  height: 248px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  position: relative;
  padding: 48px 32px 28px;
  background-color: white;
  z-index: 100;
}
.content .comment .comment_list .comment_item .comment_item_img {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  top: -56px;
}
.content .comment .comment_list .comment_item .comment_item_line {
  border: 1px solid #DDDDDD;
  margin: 24px 0;
}
.content .comment .comment_list .comment_item .comment_item_company {
  font-weight: 900;
}
.content .comment .comment_list .comment_item .comment_item_region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}
.content .comment .comment_list .comment_item .comment_item_star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .comment .comment_list .comment_item .comment_item_star .star {
  background-image: url("../images/icon_star.svg");
  background-size: cover;
  margin-left: 8px;
  width: 16px;
  height: 16px;
}
.content .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 70px;
  margin-top: 24px;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 768px) {
  .content .community .community_title {
    font-size: 28px;
  }
  .content .community .community_list {
    margin: 0 auto;
    width: 244px;
    margin-top: 8px;
  }
  .content .community .community_list .community_item {
    margin-top: 24px;
  }
  .content .role {
    margin-top: 60px;
  }
  .content .role .role_title {
    font-size: 28px;
  }
  .content .role .role_content {
    font-size: 18px;
  }
  .content .role .role_list {
    width: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-top: 8px;
  }
  .content .role .role_list .role_item {
    padding: 0;
    margin-top: 24px;
    width: 260px;
  }
  .content .role .role_list .role_item img {
    border-radius: 12px 12px 0 0;
    width: 260px;
    height: 260px;
  }
  .content .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 60px;
  }
  .content .feature .feature_main {
    max-width: 335px;
    margin: 0 auto;
    text-align: center;
  }
  .content .feature .feature_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-top: 8px;
    width: 230px;
  }
  .content .feature .feature_list .feature_item {
    margin-top: 24px;
    width: 230px;
  }
  .content .comment {
    margin-top: 60px;
  }
  .content .comment .comment_list {
    max-width: 352px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .content .comment .comment_list .comment_item {
    max-width: 352px;
    margin-top: 80px;
  }
}
.footer {
  width: 100%;
}
.footer .footer_main {
  text-align: center;
  width: 100%;
  height: 503px;
  background-image: url("../images/home_footer.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}
.footer .footer_main .footer_title {
  padding-top: 260px;
  font-size: 32px;
  font-weight: 900;
}
.footer .footer_main .footer_button {
  margin-top: 48px;
}
.footer .footer_copyright {
  text-align: center;
  padding: 16px 0;
  background-color: #F5F5F5;
}

.wrap.wrap_program {
  background: url("../images/ball03.svg");
  background-repeat: no-repeat;
  background-position: -25% 50%;
  background-size: 360px;
}

.program_back_img {
  position: absolute;
  height: 559px;
  width: 100%;
  background: url("../images/banner.svg");
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -1;
}

.program_back {
  position: absolute;
  height: 470px;
  width: 100%;
  background: #F7F9FD 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 0px 300px;
  z-index: -2;
}

.header .program_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 90px;
  height: 290px;
}
.header .program_banner .program_banner_title {
  font-size: 48px;
  line-height: 70px;
  font-weight: 900;
}
.header .program_banner .program_banner_content {
  margin-top: 16px;
}

@media all and (max-width: 768px) {
  .wrap.wrap_program {
    background-position: -114px 50%;
    background-size: 204px;
    z-index: -10;
  }

  .program_back_img {
    top: 90px;
    max-height: 495px;
    max-width: calc(100vw - 40px - 20px);
    background: url("../images/banner_sm.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .program_back {
    top: 90px;
    max-height: 495px;
    max-width: calc(100vw - 40px - 20px);
    border-radius: 0px 0px 0px 150px;
  }

  .header {
    height: 567px;
  }
  .header .program_banner {
    margin-top: 0;
  }
  .header .program_banner .program_banner_title {
    margin-top: 48px;
    font-size: 32px;
    line-height: 46px;
  }
}
.content {
  position: relative;
}
.content .content_back {
  position: absolute;
  width: 94px;
  height: 360px;
  top: 300px;
  left: 0;
  background-image: url("../images/ball03.svg");
  background-size: 360px;
  background-position-x: calc( 94px - 360px );
  background-position-y: 0;
  z-index: -2;
}
.content .content_program {
  max-width: 904px;
  margin: 0 auto;
  margin-top: 100px;
}
.content .content_program .content_program_title {
  text-align: center;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}
.content .content_program .content_member_list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .content_program .content_member_list div {
  width: 130px;
  margin: 0 8px;
  margin-top: 16px;
}
.content .content_program .content_program_list {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .content_program .content_program_list .content_program_item {
  width: 444px;
  min-height: 570px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  background: white;
}
.content .content_program .content_program_list .content_program_item .content_program_item_line {
  border: 1px solid #DDDDDD;
  margin-top: 16px;
}
.content .content_program .content_program_list .content_program_item .content_program_item_title {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  font-weight: 900;
}
.content .content_program .content_program_list .content_program_item .content_program_item_region {
  margin: 0 32px;
}
.content .content_program .content_program_list .content_program_item .content_program_item_region .content_program_item_content {
  text-align: center;
  margin-top: 32px;
}
.content .content_program .content_program_list .content_program_item .content_program_item_region .content_program_item_list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .content_program .content_program_list .content_program_item .content_program_item_region .content_program_item_list .content_program_item_symbol {
  width: 16px;
  height: 42px;
  font-size: 29px;
  font-weight: 900;
}
.content .content_program .content_program_list .content_program_item .content_program_item_region .content_program_item_list .content_program_item_rect {
  width: 169px;
  height: 108px;
  background: #F5F5F5;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.content .content_program .content_program_list .content_program_item .content_program_item_region .content_program_item_list .content_program_item_rect .content_program_item_rect_big {
  font-size: 32px;
  line-height: 35px;
}
.content .content_program .content_program_list .content_program_item .content_program_item_region .content_program_item_list .content_program_item_rect .content_program_item_rect_sm {
  font-size: 12px;
  line-height: 17px;
}
.content .content_program .content_program_list .content_program_item .content_program_item_region ul {
  margin-top: 32px;
  margin-left: 32px;
}
.content .content_program .content_program_list .content_program_item .content_program_item_region ul li {
  margin-top: 16px;
  list-style-image: url("../images/icon_check.svg");
}
.content .content_program .content_program_list .content_program_item .content_program_item_region .content_program_item_button {
  margin-top: 32px;
  text-align: center;
}
.content .content_problem {
  max-width: 904px;
  margin: 0 auto;
  margin-top: 100px;
}
.content .content_problem .content_problem_title {
  text-align: center;
  font-size: 32px;
  line-height: 46px;
}
.content .content_problem .content_problem_list {
  margin-top: 48px;
  margin-bottom: 84px;
}
.content .content_problem .content_problem_list .content_problem_item {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  padding: 16px 32px;
  margin-bottom: 24px;
}
.content .content_problem .content_problem_list .content_problem_item .content_problem_question {
  font-size: 18px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .content_problem .content_problem_list .content_problem_item .content_problem_question.active {
  color: #56C4C5;
  font-weight: 900;
}
.content .content_problem .content_problem_list .content_problem_item .content_problem_question .content_problem_symbol {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.content .content_problem .content_problem_list .content_problem_item .content_problem_answer {
  color: #747474;
  margin-top: 24px;
}
.content .content_problem .content_problem_list .content_problem_item .content_problem_answer p {
  margin-bottom: 8px;
}
.content .content_problem .content_problem_icon {
  height: 20px;
  width: 20px;
}

@media all and (max-width: 768px) {
  .program_banner {
    position: relative;
  }

  .content .content_back {
    width: 96px;
    height: 204px;
  }
  .content .content_program {
    margin-top: 60px;
  }
  .content .content_program .content_program_title {
    font-size: 28px;
    line-height: 40px;
  }
  .content .content_program .content_member_list {
    margin-top: 16px;
  }
  .content .content_program .content_member_list div {
    margin-top: 8px;
  }
  .content .content_program .content_program_list {
    width: 444px;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-top: 8px;
  }
  .content .content_program .content_program_list .content_program_item {
    width: 444px;
    max-width: 100%;
    margin-top: 16px;
  }
  .content .content_program .content_program_list .content_program_item .content_program_item_region .content_program_item_list .content_program_item_rect {
    width: 130px;
  }
  .content .content_program .content_program_list .content_program_item .content_program_item_region .content_program_item_button {
    margin-bottom: 24px;
  }
}