html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 1px solid red;
}

.wrap {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("/images/bg_home.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.header {
  max-width: 1085px;
  margin: 0 auto;
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
}
.header .navbar .navbar_img {
  height: 40px;
}
.header .navbar .circle_button {
  width: 128px;
  height: 40px;
  font-size: 16px;
  color: white;
  background: #FF5D50;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.content {
  max-width: 1085px;
  margin: 0 auto;
}

.footer {
  width: 100%;
}