.wrap {
    max-width: $main_width;
    margin: 0 auto;
    position: relative;

    &.wrap_home {
        background-image: url("../images/bg_home.svg"), url("../images/ball02.svg");
        background-repeat: no-repeat;
        background-position: top right, 110% 50%;
    }
}

@media all and (max-width: $content_width) {
    .wrap {
        padding: 16px 20px 0;
        width: 100%;

        &.wrap_home {
        }
    }
}

@media all and (max-width: $mobile_width) {
    .wrap {

        &.wrap_home {
            background: url("../images/ball02.svg");
            background-repeat: no-repeat;
            background-position: 110% 50%;
            background-size: 135px;
        }
    }
}

.header_index {
    width: 100%;
    position: relative;

    .header_back {
        width: $left_image_width;
        height: $left_image_height;
        position: absolute;
        bottom: calc(59px - #{$left_image_height});
        left: 0;

        background-image: url("../images/ball01.svg");
        background-size: $left_image_height;
        background-position: right;
    }
}

@media all and (max-width: $content_width) {
    .header_index {
        .header_back {
            width: 49px;
            height: $left_image_height_sm;
            bottom: -$left_image_height_sm;

            background-size: $left_image_height_sm;
        }
    }
}

@media all and (max-width: $mobile_width) {
    .header_index {
        .header_back {
        }
    }
}


.header {
    max-width: $content_width;
    margin: 0 auto;

    .banner {
        margin-bottom: 217px;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .banner_content {
            height: 534px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            
            .banner_content_title {
                font-weight: 600;
                color: #56C4C5;
                font-size: 18px;
            }

            .banner_content_main {
                font-weight: 900;
                font-size: 48px;
                color: #221E1F;
            }

            .banner_content_other {
                font-size: 20px;
                color: #221E1F;
            }
        }

        .banner_img {
            width: 532px;
        }
    }
}

@media all and (max-width: $content_width) {
    .header {
        margin-bottom: 60px;

        .banner {
            flex-direction: column;
            .banner_content {
                height: 305px;
                width: 304px;
                .banner_content_title {
                    font-size: 16px;
                }

                .banner_content_main {
                    font-size: 32px;
                }

                .banner_content_other {
                    font-size: 16px;
                }
            }

            .banner_img {
                width: 304px;

                background-image: url("../images/bg_home_sm.svg");
                background-repeat: no-repeat;
                background-size: 304px 305px;
                background-position: bottom right;
            }
        }
    }
}

@media all and (max-width: $mobile_width) {
    .header {
        .banner {
            width: 304px;
            margin: 0 auto;

            div {
                margin: 0 auto;
            }

            .banner_content {
                height: 252px;
                width: 304px;

                div {
                    margin: 0 auto;
                }
            }

            .banner_img {
                padding: 20px;
                width: 100%;
            }
        }
    }
}


.content {
    width: 100%;
    margin: 0 auto;

    .community {
        max-width: $content_width;
        margin: 0 auto;

        .community_title {
            text-align: center;
            font-size: 32px;
            font-weight: 900;
        }

        .community_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 48px;

            .community_item {
                width: 244px;

                .community_img {
                    margin: 0 auto;
                    width: 90px;
                    height: 90px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .community_title {
                    font-size: 24px;
                }

                .community_content {
                    font-size: 16px;
                    color: #747474;
                }

                p {
                    margin-top: 24px;
                    text-align: center;
                }
            }
        }
    }

    .role {
        position: relative;
        max-width: 1088px;
        margin: 0 auto;
        margin-top: 100px;

        .role_title {
            text-align: center;
            font-size: 32px;
            font-weight: 900;
        }

        .role_content {
            text-align: center;
            font-size: 20px;
            margin-top: 16px;
        }

        .role_list {
            margin-top: 48px;
            display: flex;
            margin-left: -16px;

            .role_item {
                box-shadow: 0px 2px 10px #00000014;
                border-radius: 12px;
                background-color: white;
                padding-left: 16px;
                width: calc(#{$role_image_size}+16px);

                img {
                    border-radius: 12px 12px 0 0;
                    width: $role_image_size;
                    height: $role_image_size;
                }

                .role_item_title {
                    text-align: center;
                    font-size: 16px;
                    color: #56C4C5;
                    margin-top: 16px;
                }

                .role_item_content {
                    text-align: center;
                    margin: 16px 16px 24px;
                }
            }
        }

    }

    .feature {
        max-width: $feature_width;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;

        .feature_list {
            width: $feature_list_width;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .feature_item {
                width: 230px;
                height: 280px;
                padding: 32px;
                margin-bottom: 28px;
                box-shadow: 0px 2px 10px #00000014;

                .feature_img {
                    width: $feature_image_size;
                    height: $feature_image_size;
                    border-radius: 50%;
                    box-shadow: 0px 2px 10px #00000014;

                    img {
                        margin-top: calc((#{$feature_image_size} - #{$feature_img_width})/2);
                        margin-left: calc((#{$feature_image_size} - #{$feature_img_width})/2);
                        width: $feature_img_width;
                        height: $feature_img_width;
                    }
                }

                .feature_item_title {
                    font-size: 18px;
                    font-weight: 900;
                    margin-top: 24px;
                }

                .feature_item_content {
                    margin-top: 16px;
                }
            }
        }

        .feature_main {
            width: calc(#{$feature_width} - #{$feature_list_width});
            display: flex;
            justify-content: end;
            align-items: center;

            .feature_title {
                font-size: 32px;
                font-weight: 900;
            }

            .feature_content {
                font-size: 18px;
                line-height: 24px;
                margin-top: 16px;

            }

            .feature_button {
                margin-top: 24px;
            }
        }
    }

    .comment {
        max-width: 1088px;
        margin: 0 auto;
        margin-top: 100px;
        position: relative;

        .comment_back {
            width: $left_image_height_mid;
            height: $left_image_height_mid;
            position: absolute;
            top: 46px;
            left: -89px;
    
            background-image: url("../images/ball03.svg");
            background-size: $left_image_height_mid;

            z-index: -999;
        }

        .comment_title {
            text-align: center;
            font-size: 32px;
            font-weight: 900;
        }

        .comment_list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 104px;

            .comment_item {
                width: 352px;
                height: 248px;
                box-shadow: 0px 2px 10px #00000014;
                position: relative;
                padding: 48px 32px 28px;
                background-color: white;

                z-index: 100;


                .comment_item_img {
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    box-shadow: 0px 2px 10px #00000014;
                    top: -56px;
                }

                .comment_item_content {
                }

                .comment_item_line {
                    border: 1px solid #DDDDDD;
                    margin: 24px 0;
                }

                .comment_item_company {
                    font-weight: 900;
                }

                .comment_item_region {
                    display:flex;
                    justify-content: space-between;
                    margin-top: 8px;
                }

                .comment_item_star {
                    display:flex;
                    justify-content: space-between;

                    .star {
                        background-image: url("../images/icon_star.svg");
                        background-size: cover;
                        margin-left: 8px;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }

    .dots {
        display: flex;
        margin: 0 auto;
        width: 70px;
        margin-top: 24px;
        margin-bottom: 100px;
        justify-content: space-between;
    }
}

@media all and (max-width: $content_width) {
    .content {
        .community {

        }
    }

    .role {

    }

    .feature {

    }

    .comment {

    }
}

@media all and (max-width: $mobile_width) {
    .content {
        .community {
            .community_title {
                font-size: 28px;
            }
            
            .community_list {
                margin: 0 auto;
                width: 244px;
                margin-top: 8px;

                .community_item {
                    margin-top: 24px;
                }
            }
        }

        .role {
            margin-top: 60px;

            .role_title {
                font-size: 28px;
            }

            .role_content {
                font-size: 18px;
            }

            .role_list {
                width: $role_image_size;
                flex-direction: column;
                margin: 0 auto;
                margin-top: 8px;

                .role_item {
                    padding: 0;
                    margin-top: 24px;
                    width: $role_image_size;

                    img {
                        border-radius: 12px 12px 0 0;
                        width: $role_image_size;
                        height: $role_image_size;
                    }
                }
            }
        }

        .feature {
            flex-direction: column-reverse;
            margin-top: 60px;

            .feature_main {
                width: 100%;
                text-align: center;
            }

            .feature_list {
                flex-direction: column;
                margin: 0 auto;
                margin-top: 8px;
                width: 230px;

                .feature_item {
                    margin-top: 24px;
                    width: 230px;
                }
            }
        }

        .comment {
            margin-top: 60px;

            .comment_list {
                max-width: 352px;
                flex-direction: column;
                margin: 0 auto;
                .comment_item {
                    max-width: 352px;
                    margin-top: 80px;
                }
            }
        }
    }
}


.footer {
    width: 100%;

    .footer_main
    {
        text-align: center;
        width: 100%;
        height: 503px;
        background-image: url("../images/home_footer.svg");
        background-repeat: no-repeat;
        background-position: center 0;

        .footer_title {
            padding-top: 260px;
            font-size: 32px;
            font-weight: 900;
        }

        .footer_button {
            margin-top: 48px;
        }
    }

    .footer_copyright {
        text-align: center;
        padding: 16px 0;
        background-color: #F5F5F5;
    }
}