.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    margin-bottom: 30px;
    z-index: 999;

    .navbar_img {
        height: 40px;
        cursor: pointer;
        z-index: 10;
    }
}

@media all and (max-width: $content_width) {
    .navbar {
    }
}

@media all and (max-width: $mobile_width) {
    .navbar {
        padding: 16px 0;
        margin-bottom: 0;
        border-bottom: 2px solid #FFD153;

        .navbar_img {
            height: 24px;
        }
    }
}

.top {
    height: $top_size;
    width: $top_size;
    position: fixed;
    color: white;
    font-size: 18px;

    background: #56C4C5;
    background-size: $top_size;
    border-radius: 50%;
    
    bottom: $top_margin;
    right: $top_margin;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;

    cursor: pointer;

    &:hover {
        background: #89F3F5;
    }
}

@media all and (max-width: $mobile_width) {
    .top {
        bottom: $top_margin_sm;
        right: $top_margin_sm;
    }
}

.swiper-pagination {
    position: inherit;
    margin-top: 24px;
}

.gray_dot, .swiper-pagination-bullet
{
    width: 10px;
    height: 10px;
    background: #DDDDDD 0% 0% no-repeat padding-box;
    border-radius: 50%;
}

.yellow_dot, .swiper-pagination-bullet.swiper-pagination-bullet-active
{
    width: 16px;
    height: 10px;
    background: #FFD153 0% 0% no-repeat padding-box;
    border-radius: 50px;
}