$main_width: 1366px;
$content_width: 1085px;
$mobile_width: 768px;

//卷軸寬度
$scroll_width: 20px;

$top_size: 71px;
$top_margin: 57px;

$left_image_height: 360px;
$left_image_width: 141px;

$left_image_height_mid: 150px;
$left_image_height_sm: 126px;

$role_image_size: 260px;

$feature_width: 1039px;
$feature_list_width: 507px;
$feature_image_size: 86px;
$feature_img_width: 52px;